body {
	background-color: lightgrey;
}

header {
	text-align: center;
	background-color: grey;
}

h1 {
	font-family: 'Righteous', cursive;
	margin: 5px;
}

h3 {
	margin: 0px;
}


img {
	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: 50%;
}

ul {
	width: 500px;
	display:table; 
	margin:0 auto;
}

li {
	margin: 10px;
}

div {
	text-align: center;
}

#block {
	background-color: lightgrey;
}